<div class="qa-body-wrapper">
  <div class="qa-main-wrapper">
    <div class="qa-main">
      <div class="qa-widgets-main qa-widgets-main-top">
        <div class="qa-widget-main qa-widget-main-top">
          <div class="qa-ask-box">
              <table class="qa-form-tall-table" style="width:100%">
                <tr style="vertical-align:middle;">
                  <td class="qa-form-tall-label" style="width: 1px;
                   padding:8px; white-space:nowrap; text-align:right;">
                    Ask&nbsp;a&nbsp;question:
                  </td>
                  <td class="qa-form-tall-data" style="padding:8px;">
                    <input name="title" type="text" class="qa-form-tall-text" style="width:95%;">
                  </td>
                </tr>
              </table>
              <input type="hidden" name="doask1" value="1">
          </div>
        </div>
      </div>
      <div class="qa-main-heading">
        <a href="./feed/qa.rss" title="Recent questions and answers"><i class="icon-rss qam-title-rss"></i></a>
        <h1>
          Recent questions and answers
        </h1>
      </div>
      <div class="qa-part-q-list">
          <div class="qa-q-list">
            <%= render "shared/question", questions: @questions %>
            <%= paginate @questions, theme: "twitter-bootstrap-4" %>
          </div> <!-- END qa-q-list -->
          <div class="qa-q-list-form">
            <input name="code" type="hidden" value="0-1559007869-e02f5b9cb255dfff1fba19c7a1b9c31f87795530">
          </div>
      </div>
      <div class="qa-suggest-next">
        To see more, click for the <a href="./questions">full list of questions</a>
        or <a href="./tags">popular tags</a>.
      </div>
    </div> <!-- END qa-main -->
    <div id="qam-sidepanel-toggle"><i class="icon-left-open-big"></i></div>
    <%= render "layouts/search" %>
  </div> <!-- END main-wrapper -->
</div> <!-- END body-wrapper -->
<div style="position:absolute;overflow:hidden;clip:rect(0 0 0 0);height:0;width:0;margin:0;padding:0;border:0;">
  <span id="qa-waiting-template" class="qa-waiting">...</span>
 <%= paginate @questions, theme: "twitter-bootstrap-4" %>
</div>
