<% provide :title, "Home"%>
<div class="container">
  <h1 style="text-align: center;">Welcome to Ruby on Rails</h1>
  <p style="text-align: center; color: #808080">design by Luan, Duong, Duy</p>
</div>
