<div class="qa-part-a-list"><!-- Answers -->
  <h5 id="a_list_title">
    <span id="answer_count"></span>
    Answers
  </h5>
  <div id="answers" class="qa-a-list">
    <%= render "answers/answer_list", question: question %>
  </div>
</div><!-- End Answers -->
