<% if logged_in? %>
  <button class="btn btn-primary btn-tag" type="button" data-toggle="collapse"
  data-target="#tags_form" aria-expanded="false"
  aria-controls="collapseExample">
    Add Tag
  </button>
  <div id="tags_form" class="collapse">
    <%= form_for(Tag.new, remote: true) do |f| %>
      <div class="form-group" >
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <br>
      <td><%= f.submit %></td>
    <% end %>
  </div>
<% else %>
  <button class="btn btn-primary btn-tag" type="button" data-toggle="collapse"
  data-target="#tags_params" aria-expanded="false"
  aria-controls="collapseExample">
    <%= link_to "Login First", login_path, {:style=>"color:#FFFFFF;",
      :class => "css_class"} %>
  </button>
<% end %>
