<div class="qam-ask-search-box">
  <div class="qam-ask-mobile"><a href="./ask" class="turquoise">Ask a Question</a></div>
  <div class="qam-search-mobile turquoise" id="qam-search-mobile"></div>
</div>
