<div class="qam-search turquoise the-top" id="the-top-search">
  <div class="qa-search">
    <form method="get" action="./search">
      <input type="text" placeholder="Search..." name="q" value="" class="qa-search-field">
      <input type="submit" value="Search" class="qa-search-button">
    </form>
  </div>
</div>
